extend common/layout

block content
 main.main
  section.section_works
    .container_works
      h2.title How Dreamshare works?
      .card__container
        .card
          button.button_size_s STEP 1
          h3.card__title Sed leo enim, condimentum
          p.card__text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec
            | rhoncus a leo sit
            | amet facilisis.
        .card
          button.button_size_s STEP 2
          h3.card__title Morbi velit risus
          p.card__text
            | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit
            | amet
            | porttitor est.
        .card
          button.button_size_s STEP 3
          h3.card__title Sed leo enim, condimentum
          p.card__text
            | Quisque libero libero, dictum non turpis in, luctus semper lorem.
            | Donec
            | rhoncus a leo sit
            | amet facilisis.
  section.section-partner
    .container-partner
      h2.title Meet a partner for your best holiday
      .photo__container
        .photo__block
          .photo.photo_one
            .avatar.avatar_one
          h4.photo__title Bradley Hunter
          p.photo__description Based in Chicago. I love playing tennis and loud music.
        .photo__block
          .photo.photo_two
            .avatar.avatar_two
          h4.photo__title Marie Bennett
          p.photo__description
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
        .photo__block
          .photo.photo_three
            .avatar.avatar_three
          h4.photo__title Marie Bennett
          p.photo__description
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
        .photo__block
          .photo.photo_four
            .avatar.avatar_four
          h4.photo__title Marie Bennett
          p.photo__description
            | Currently living in Colorado. Lover of art, languages and
            | travelling.
      button.button-see See other partners
  section.section-ideas
    .container-activity
      h2.title Discover holiday activity ideas
      .container-ideas
        .box-ideas1
          .card-idea.idea1
            h5.card__title Sports and Activities
          .card-idea.idea2
            h5.card__title Wellness and Health
          .card-idea.idea3
            h5.card__title
              | Extreme Sports 
              br
              |  and Expeditions
        .box-ideas2
          .card-idea.idea4
            h5.card__title Games
          .card-idea2.idea5
            h5.card__title Culture and Education
        .box-ideas3
          .card-idea2.idea6
            h5.card__title Enjomet and Relaxation
          .card-idea.idea7
            h5.card__title Travelling
  section.section-create
    .container-create
      h2.title Create your holiday activity
      .box-form
        form.form
          p.text-question Hi! What are your holiday interests?
          input.text-input(type='password', placeholder='Enter your insterests')
        button.button-search Search partners
