footer.footer
  .footer__container
    hr.hr
    .footer__block
      .menu
        ul.menu__list
          li
            a.menu__link.active(href='#') DREAMSHARE
          li
            a.menu__link(href='#') Company
            ul.list--second
              li
                a.menu__item(href='#') About
              li
                a.menu__item(href='#') Contact
              li
                a.menu__item(href='#') Press
              li
                a.menu__item(href='#') Blog
              li
                a.menu__item(href='#') Terms and Privacy
              li
                a.menu__item(href='#') Help
          li
            a.menu__link(href='#') Partners
      .logo
        p.logo__description DESIGNED BY
        a(href='#')
          img(src='./images/logo.png', alt='logo')

