header.header
  .header__container
    .header__block
      a.logo__title(href='#') DREAMSHARE
      .btngroup
        button.button Log in
        button.button.button_active Sign up
    .block__text
      h1.header__title
        | SHARE YOUR 
        br
        | HOLIDAY DREAM
      p.header__description And find the perfect partner to fullfill it
      button.header__button Find your holiday partner

