doctype html
html
  head(lang="en")
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Dreamshare
    link(rel='stylesheet', href='./css/main.min.css')
  body
    .wrapper
      block header
        include header
      block content
      block footer
        include footer
      block scripts
        script(src="./js.min.js")
