$width: 1440px;
$width-card: 300px;
$width-section: 940px;
$width-photo__block: 221px;
$width-photo: 120px;
$width-main: 100%;
$width-media768: 768px;
$width-media320: 320px;
$width-card-media768: 236px;

$height-photo__block: 224px;
$height-photo: 120px;
$height: 100%;
$header-height: 700px;
$height-card: 400px;
$height-idea: 310px;
$width-btn: 225px;
$height-btn: 40px;

$header-bg-image: url("../images/Background.png");
$bg-image-card1: url("../images/Step1image1.png");
$bg-image-card2: url("../images/Step1image2.png");
$bg-image-card3: url("../images/Step1image3.png");

$bg-image-idea1: url("../images/Sport.png");
$bg-image-idea2: url("../images/Health.png");
$bg-image-idea3: url("../images/Extreme.png");
$bg-image-idea4: url("../images/Games.png");
$bg-image-idea5: url("../images/Culture.png");
$bg-image-idea6: url("../images/Relax.png");
$bg-image-idea7: url("../images/Travel.png");

$font-family: "Montserrat", sans-serif;

$font-family-text: "Roboto", sans-serif;

$font-style: normal;

$font-weight700: 700;
$font-weight400: 400;
$font-weight300: 300;

$header-font-size: 52px;
$font-size-title: 26px;
$text-font-size: 24px;
$logo-font-size: 20px;
$font-size-btn: 14px;
$font-size-text-question: 18px;
$font-size-btn-step: 10px;
$line-height-btn-step: 12px;

$font-size-card-idea: 22px;
$line-height-card-idea: 27px;

$header-line-height: 63px;
$line-height-title: 32px;
$line-height-btn1: 24px;
$line-height-btn2: 17px;
$line-height-text: 14px;
$text-line-height: 24px;

$display: flex;
$justify-content: center;
$align-items: center;

$margin: 0 auto;
$margin-top: 95px;
$margin-top-title: 89px;
$margin-bottom-title: 35px;

$text-align: center;

$border-radius-btn: 40px;
$border-radius: 50%;
$border: 2px solid #ffffff;
$border-btn: none;
$border-placeholder: 1px solid #d4d4d4;
$box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);

$color-font: #fff;
$color-title: #444;
$color-text: #666;
$color-text-card: #e3e3e3;
$color-text-btn: #ff4e50;
$background-btn: #ff4e50;
$background-main: #fff;

$bg-position: center;
$bg-repeat: no-repeat;
$bg-size: cover;

$text-decoration: none;

$display-block: block;

$cursor: pointer;
